.simple-quiz-shell-head,
.simple-quiz-shell-head-logo,
.simple-quiz-shell-title,
.simple-quiz-shell-main,
.simple-quiz-shell-main-question,
.simple-quiz-shell-main-game,
.simple-quiz-shell-timer,
.simple-quiz-shell-input,
.simple-quiz-shell-foot,
.simple-quiz-shell-login,
.simple-quiz-shell-welcome,
.simple-quiz-shell-gameover,
.simple-quiz-shell-info,
.simple-quiz-shell-error {
    position: absolute;
}

.simple-quiz-shell-head {
    top: 0;
    left: 0;
    right: 0;
    height: 37px;
    border-bottom: 2px solid white;
}

.simple-quiz-shell-head-logo {
    top: 13px;
    right: 48%;
    height: 49px;
    width: 104px;
    z-index: 3;
}

.simple-quiz-shell-title {
    top: 20%;
    left: 15%;
    height: 25px;
    width: 198px;
    font-family: arial, helvetica, sans-serif;
}

.simple-quiz-shell-name {
    position: absolute;
    height: 25px;
    top: 20%;
    right: 5%;
    width: 450px;
    font-family: arial, helvetica, sans-serif;
}

.simple-quiz-shell-main {
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}

.simple-quiz-shell-main-game,
.simple-quiz-shell-main-question {
    top: 0;
    bottom: 0;
    z-index: 1;
}

.simple-quiz-shell-main-question-title {
    top: 24px;
    left: 222px;
    position: absolute;
}

.simple-quiz-shell-main-question-img {
    left: 3%;
    top: 65px;
    position: absolute;
}

.simple-quiz-shell-main-question {
    width: 50%;
}

.simple-quiz-shell-main-game {
    width: 50%;
    right: 0;
}

.simple-quiz-shell-main-game div {
}

.simple-quiz-shell-timer {
    width: 100%;
    height: 33%;
}

.simple-quiz-shell-timer-time {
    position: absolute;
    top: 48px;
    bottom: 111px;
    left: 10%;
    right: 0;
    width: 180px;
    height: 85px;
    font-size: 70px;
    color: #ffffff;
}


.simple-quiz-shell-input {
    position: absolute;
    top: 143px;
    left: 0px;
    right: 0px;
    background: #fcfcfc;
}

.simple-quiz-shell-input-content {
    position: absolute;
    top: 0px;
    left: 10%;
}

input {
    padding: 10px;
    font-size: 13px;
}

#answer {
    margin-left: 0;
}

input[type="email"] {
    border: 1px solid #B4BFCF;
    padding: 0 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    height: 32px;
    margin-left: 20px;
}

input[type="text"] {
    border: 1px solid #B4BFCF;
    padding: 0 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    height: 36px;
    margin-left: 20px;
    margin-right: 20px;
}

input[type="submit"] {
    background: #0085EB;
    color: #ffff;
    padding: 10px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 20px
}

input[type="button"] {
    background: #0085EB;
    color: #ffff;
    padding: 10px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 20px
    border: none;
}

.simple-quiz-shell-foot {
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.simple-quiz-shell-welcome,
.simple-quiz-shell-gameover,
.simple-quiz-shell-info,
.simple-quiz-shell-error,
.simple-quiz-shell-login {
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 400px;
    background: #ffffff;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.simple-quiz-shell-gameover {
    text-align: center;
}

/*///*/
.simple-quiz-shell-login {
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simple-quiz-shell-login form {
/*/ position: absolute;
       top: 50px;
       left: 8px;/*/
   text-align: center;
}

#loginError {
    color: red;
}

.simple-quiz-shell-login h2 {
  /*/  left: 8px;
    top: 8px;
    position: absolute; /*/
    margin-top: 10px
}

/*//*/
.simple-quiz-shell-welcome {
    height: 210px;
    padding-top: 10px;
}

#rules {
    padding: 0 25px;
}

#info {
    text-align: center;
}

#next {
    margin-top: 15px
}


.simple-quiz-shell-welcome div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*//*/
/*//*/
.simple-quiz-shell-info {
    height: 110px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    transform: translate(50%, 100%);
}

.simple-quiz-shell-info div {
    display: flex;
    flex-direction: column;
}

/*//*/
/*//*/
.simple-quiz-shell-gameover {
    height: 130px;

}

.simple-quiz-shell-gameover p {

}

.simple-quiz-shell-gameover div {
    margin: auto;
    width: max-content;
    padding: 10px;
}

/*//*/

.simple-quiz-shell-hidden {
    display: none;
}