* {
    margin : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}
h1,h2,h3,h4,h5,h6,p { margin-bottom : 10px; }
ol,ul,dl { list-style-position : inside;}
/** End reset */
/** Begin standard selectors */
body {
    font : 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color : #444;
    background-color : #888;
}
a { text-decoration : none; }
a:link, a:visited { color : inherit; }
a:hover { text-decoration: underline; }
strong {
    font-weight : 800;
    color : #000;
}
img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
/** End standard selectors */
/** Begin spa namespace selectors */
#simple-quiz {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    min-height: 300px;
    min-width: 500px;
    overflow: hidden;
    background-color: #888;
    border-radius: 8px 8px 8px 8px;
    z-index: 0;
}
/** End spa namespace selectors */
/** Begin utility selectors */
.simple-quiz-x-select {}
.simple-quiz-x-clearfloat {
    height : 0 !important;
    float : none !important;
    visibility : hidden !important;
    clear : both !important;
}
/** End utility selectors */